* {
  font-family: "Oxygen", sans-serif;
}

h1 {
  font-size: 400%;
}

p {
  font-size: 28px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container {
  width: 50%;
}

#aths {
  display: none;
}

button {
  padding: 20px;
  background-color: antiquewhite;
  border: 0px;
  border-radius: 50px;
  font-size: 1.15em;
  margin: 5px;
  outline: none;
  transition: all 200ms ease-in-out;
}

button:focus {
  box-shadow: 0px 15px 24px -14px rgba(165, 110, 117, 0.4);
}

@media screen and (max-width: 525px) {
  button {
    padding: 15px;
    background-color: antiquewhite;
    border: 0px;
    border-radius: 50px;
    font-size: 1em;
  }
  #container {
    width: 95%;
  }
}
